* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff: "Inter", sans-serif;
  --transition: all 0.3s ease;
  --shadow:inset: 0 1px 2px #ffffff50, 0 4px 6px #00000030, 0 6px 10px #00000015;
}

[data-theme="light"] {
  --clr-background: #f5f5f5;
  --clr-card-hover: #9b9b9bc5;
  --clr-font: #111827;
  --clr-card: #d1d1d1c5;
  --ff: "Cairo", sans-serif;
  --ts-caption: 600 1.8rem/1 var(--ff);
  --ts-normal-text: 400 1.6rem/1.4 var(--ff);
  --ts-normal-semibold: 600 1.6rem/1.4 var(--ff);
  --transition: all 0.2s linear;
}

[data-theme="dark"] {
  --clr-background: #111827;
  --clr-card-hover: #1a1b24;
  --clr-font: #ffffff;
  --clr-card: #1e202a;
  --ff: "Cairo", sans-serif;
  --ts-caption: 600 1.8rem/1 var(--ff);
  --ts-normal-text: 400 1.6rem/1.4 var(--ff);
  --ts-normal-semibold: 600 1.6rem/1.4 var(--ff);
  --transition: all 0.2s linear;
}

html {
  font-size: 62%;
  font-family: var(--ff);
  color: var(--clr-font);
  transition: var(--transition);
}

body {
  background-color: var(--clr-background);
  transition: var(--transition);
}

.navbar {
  background-color: var(--clr-card);
  transition: var(--transition);
  min-height: 9rem;
  padding: 0 5rem;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.nav-logo {
  align-self: center;
}

.mobile-nav-list {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--clr-background);
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mobile-nav-list i {
  color: var(--clr-font);
}

.nav-list {
  list-style: none;
  display: flex;
  margin-left: 100px;
  align-items: stretch;
  justify-content: flex-end;
  min-height: 50px;
  height: 100%;
}

.side-bar {
  display: flex;
  align-items: stretch;
}

.nav-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  height: 100%;
  cursor: pointer;
  transition: var(--transition);
}

.nav-list .nav-guide:hover {
  background-color: var(--clr-card-hover);
}

.nav-list {
  box-shadow: var(--shadow);
}

.nav-guide {
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  width: auto;
  height: 100%;
  background: var(--clr-card);
  clip-path: polygon(
    20px 0,
    calc(100% - 0px) 0,
    calc(100% - 20px) 100%,
    0 100%
  );
}

#theme-switch {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--clr-background);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#theme-switch i {
  color: var(--clr-font);
  transition: var(--transition);
}

#theme-switch i:last-child {
  display: none;
}

.darkmode #theme-switch i:first-child {
  display: none;
}

.darkmode #theme-switch i:last-child {
  display: block;
}

.loading {
  position: fixed;
  background-color: var(--clr-background);
  transition: var(--transition);
  width: 100vw;
  height: 100vh;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading_spinner {
  animation: spin 2s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading--hide {
  visibility: hidden;
  opacity: 0;
}

.cointainer {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 30px;
  margin: 6rem;
}

.status-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: solid;
  border-color: var(--clr-card);
  margin: 7rem 20rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 5rem;
}

.cointainer-swipper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-wrapper {
  display: inline-block;
  max-width: 200px;
  max-height: 360px;
  overflow: hidden;
  margin: 1rem 4rem;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.stats-table_year-select {
  align-items: center;
  justify-content: center;
}

.year-select-bar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.year-select {
  font: var(--ts-normal-semibold);
  background-color: var(--clr-card);
  transition: var(--transition);
  display: inline-block;
  min-width: 5rem;
  margin: 1rem 6rem;
  border-radius: 2rem;
  position: relative;
}

.year-select-toggle {
  min-width: 5rem;
  border-radius: 2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.year-select-toggle:hover {
  background-color: var(--clr-card-hover);
}

.year-select-toggle__selected-year {
  transition: var(--transition);
}

.year-select-toggle__icon {
  transition: var(--transition);
}

.year-select-toggle__selected-year--rotate {
  transform: rotate(180deg);
  transition: var(--transition);
}

.year-select-list {
  position: absolute;
  max-height: 0;
  overflow-y: scroll;
  background-color: var(--clr-card);
  transition: var(--transition);
  visibility: hidden;
  opacity: 0;
  border-radius: 2rem;
  margin-top: 0.5rem;
  width: 100%;
  left: 0;
  top: 100%;
  scrollbar-width: none;
}

.year-select-list__item {
  cursor: pointer;
  padding: 0.2rem 0 0.2rem 0;
  text-align: center;
}

.year-select-list li:hover {
  background-color: var(--clr-card-hover);
}

.year-select-list--show {
  visibility: visible;
  opacity: 1;
  max-height: 15rem;
}

.status-table-scroll-wrapper {
  max-height: 200px;
  overflow-y: scroll;
  width: auto;
  margin: 0.5rem 6rem 3rem 0;
}

.status-table {
  align-items: center;
  justify-content: center;
  transition: var(--transition);
  font-size: 15px;
  margin: 2rem;
}

.status-table td,
.status-table th {
  padding: 3px 4px;
  font-weight: bold;
}

footer {
  background-color: var(--clr-card);
  transition: var(--transition);
  color: var(--clr-font);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15rem;
  text-align: center;
}

.footer-text__source {
  margin-bottom: 3rem;
}

@media screen and (max-width: 810px) {
  .container {
    grid-template-columns: 2fr 1fr 1fr;
  }
  .side-bar {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: min(15rem, 100%);
    z-index: 10;
    transition: right 300ms ease-out;
    background-color: var(--clr-card);
  }
  .side-bar.show {
    right: 0;
  }

  .nav-list {
    width: 100%;
    flex-direction: column;
    margin-left: 0;
    justify-content: space-around;
    height: 100%;
    padding: 2rem 0;
  }

  .nav-list li {
    margin-left: 0;
    padding: 1rem 0;
  }

  .mobile-nav-list {
    display: flex;
    z-index: 11;
  }
}
